body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 30px;
}

.list {
  display: inline;
}

.list_ol {
  font-size: 20px;
  margin: 30px;
  padding: 0;
  width: 520px;
}

.list_ol li {
  margin: 10px;
  height: auto;
  padding: 10px;
  margin-left: 0px;
  /* border: 1px red solid; */
  flex-wrap: wrap;
  word-wrap: break-word;
}

.list_sumbit_form_label {
  padding: 10px;
  width: 320px;

  font-size: 20px;
  border: 1px #000000 solid;
}

.list_sumbit_form_button_create {
  padding: 10px;

  font-size: 20px;
  color: white;
  border: 1px #09bffa solid;
  background-color: #09bffa;
}

.list_sumbit_form_button_delete {
  padding: 10px;
  margin: -11px;
  float: right;
  font-size: 20px;
  color: white;
  border: 1px #d63831 solid;
  background-color: #d63831;
  margin-right: -90px;
}




